/* option button */
.option{
    cursor: pointer;
}
.option:hover{
    background-color: #00bfa6;
}


.existing{
    height: 100vh;
    width: 100%;
    
}
.main-part{
    display: flex;
    justify-content: space-around;
}

.existing h1{
    font-size: 1.7rem;
}
.lists{
    width: 60%;
    overflow: scroll;
}
.lists div{
    background-color: lightcoral;
    margin: 5%;
    width: 90%;
    height: 15%;
}

.cookie-box{
    width: 350px;
    position: fixed;
    bottom: 100px;
    left: -400px;
    z-index: 1000;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0,0,0.2);
    text-align: center;
    padding: 30px;
    transition: all 0.3s linear;

}

.cookie-box img{
   height: 110px;
   
}

/* creating our animation effects */

.cookie-box h3{
    color: #333;
    font-size: 23px;
    padding: 5px 0;
}

.cookie-box p{
    color: #666;
    font-size: 13px;
    padding: 5px 0;
    line-height: 1.8;
}
.active{
    left: 20px;
}
.cookie-box .accept{
    background: #FBB45F;
    color: #fff;
    border-radius: 5px;
    display: block;
    margin: 5px 0;
    padding: 10px;
   text-decoration: none;

}

.cookie-box .accept:hover{
    letter-spacing: 1px;
    opacity: 0.8;
   

}
.cookie-box .setting{
    color: #999;
    text-decoration: none;
}
.cookie-box .setting:hover{
    color: #FBB45F;
}

.close-btn{
    position: absolute;
    top: -2px; 
    right: 12px;
    font-size: 40px;
    color: #999;
    cursor: pointer;
}

.options{
    background-color: #FBB45F;
}

.dropdown{
    background-color: aqua;
    display: block;
    width: 10rem;
    height: 10rem;
}

/* for the custom scrollbar */

::-webkit-scrollbar{
    width: 9px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
    border-radius: 6px;
}
/* final css of remaining sections and existing teams are here */
.calender{
    width: 100%;
    height: 100vh;
    
}
.dates h1{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

/* for the existing teams */
 .existing-teams h1{
    font-family: 'Syne Tactile', cursive;
    position: relative;
    left: 40%;
    top: 5%;
    font-size: 2rem;
    color: white; 
}

.existing-teams{
    height: 100vh;
    width: 100%;
    background-color:white;
    overflow: hidden;
 
}

.main-board{
    width: 80%;
    height: 90vh;
    position: relative;
    background: #1ad5bc;
    z-index: 2;
    top: 5%;
    left: 10%;
    border: none;
    outline: none;
    border-radius: 18px;
    box-shadow: 0 10px 15px rgba(0, 0,0,0.2) , 0 0 20px rgba(0, 0,0,0.2);
}

.org-lists{
    position: relative;
    left: 10%;
    top: 13%;
}

.org-lists a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.org-lists a:hover{
    color: #fff;
}
.org-lists li{
    line-height: 1.34;
}
 
.main-board button{
   position: absolute;
   bottom: 7%;
   left: 44%;
   border: none;
   outline: none;
   height: 45px;
   width: 10rem;
   border-radius: 6px;
  background-color:   #94e6e6;
  color: black;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0,0,0.2);
  transition: all 0.3s linear;
  
}

.main-board button:active{
    transform: scale(0.9);
}
.main-board button:hover{
    letter-spacing: 1px;
}